@model IEnumerable<Tour0Suisse.Model.ViewUser>

<h2>@ViewData["Title"]</h2>

<table class="table List Search table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pseudo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pseudo)
            </td>
            <td>
                @Html.ActionLink("Détails", "Details", new {  id=item.IdUser  }) 
            </td>
        </tr>
}
    </tbody>
</table>
