@model Tour0Suisse.Model.Utilisateur

@{
    ViewData["Title"] = "DeletedCompte";
}

<h2>Supprimer son compte</h2>

<h3>Etes-vous sur de vouloir supprimer votre compte?</h3>

<div>
    <form asp-action="Delete">
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" id="Password" required/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="IdUser"/>
        <input type="submit" value="Delete" class="btn btn-default"/> |
        <a asp-action="Details" asp-route-id="IdUser">Retourner au profil</a>
    </form>
</div>
