@using Tour0Suisse.Web.Models
@model Tour0Suisse.Model.Utilisateur

@{
    TexteFr TB = TexteFr.Instance;
}

<h2>@ViewData["Title"]</h2>

<h3>@TB.User_Delete_Warrning</h3>

<div>
    <form asp-action="Delete">
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" id="Password" required/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="IdUser"/>
        <input type="submit" value="@TB.User_Delete_SubmitDelete" class="btn btn-default"/> |
        <a asp-action="Details" asp-route-id="IdUser">@TB.User_Delete_Retour</a>
    </form>
</div>
