@model Tour0Suisse.Model.Utilisateur

@{
    ViewData["Title"] = "Inscription";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.error != null)
        {
            <div class="warning">
                <span class="text-danger">@( (string)@ViewBag.error )</span>
            </div>
        }
        

        <form asp-controller="User" asp-action="Create" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pseudo" class="control-label"></label>
                <input asp-for="Pseudo" class="form-control" maxlength="50" required />
                <span asp-validation-for="Pseudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" id="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="doit contenir un nombre une minuscule, une majuscule et au moins 8 characteres" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmation du mot de passe : </label>
                <input name="PasswordConf" type="password" id="PasswordConf" required class="control-label" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>




        @*<form asp-controller="User" asp-action="Create" method="post" class="form-horizontal">
                <label>Pseudo : </label>
                <input name="Pseudo" type="text" maxlength="50" required />
                <br />
                <label>Email : </label>
                <input name="Email" type="email" required />
                <br />
                <label>Mot de passe : </label>
                <input name="Password" type="password" id="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="doit contenir un nombre une minuscule, une majuscule et au moins 8 characteres" required />
                <br />
                <label>Confirmation du mot de passe : </label>
                <input name="PasswordConf" type="password" id="PasswordConf" required />
                <br />
                <label></label>
                <input name="Submit" id="Submit" type="submit"/>
                <br />
            </form>*@
    </div>
</div>

<div>
    <a asp-action="Index">Retour a la page d'accueil</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    var pw = document.getElementById("Password");
    var cpw = document.getElementById("PasswordConf");
    function CheckPassword() {
        if (pw.value !== cpw.value) {
            //getElementById("Submit").disable = true;
            cpw.setCustomValidity("Les mots de passe ne concorde pas!");
        } else {
            //getElementById("Submit").disable = false;
            cpw.setCustomValidity('');
        }
    }

    pw.onkeyup = CheckPassword;
    cpw.onkeyup = CheckPassword;
</script>