@{
    ViewData["Title"] = "Creer Tournoi";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Tournament" asp-action="Create" method="post" class="form-horizontal">
    
    <label>Email : </label>
    <input name="Email" type="email" required />
    <br />
    <label>Mot de passe : </label>
    <input name="Password" type="password" required />
    <br />
    <label></label>
    <input name="Submit" id="Submit" type="submit" value="Connexion" />
    <br />
</form>